.profile__profile-info {
  width: auto;
  max-width: 336px;
  height: 77px;
  margin-left: 30px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


/*Чтобы subtitle не перносился на первую строку*/

.profile__profile-info::after {
  content: '';
  width: 100%;
  order: 3;
}

@media screen and (max-width: 690px) {
  .profile__profile-info {
    justify-content: center;
    margin-left: 0;
  }
}