{
  "extends": "airbnb-base", // придерживаемся стиля airbnb
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ] //разрешаем подчеркивание
  }
}