  .element__title {
    width: 12ch;
    height: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    /*line-height: 1.21px;*/
    /*при установке надпись пропадает из видимой части */
    font-weight: 900;
    margin: 0 0 0 21px;
  }