.popup__container {
  position: relative;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #FFF;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .popup__container {
    padding: 30px 20px;
  }
}