.element__button-like {
  width: 21px;
  height: 19px;
  background-image: url("../../../images/like.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  background-color: transparent;
  margin-bottom: 3px;
  cursor: pointer;

}

.element__button-like:hover {
  opacity: 0.4;
  transition: opacity 0.7s ease 0.1s;
}