.spinner{
    width: 40px;
    height: 40px;
    margin: auto;
    -o-animation: loaderRotate 2s infinite linear;
    -moz-animation: loaderRotate 2s infinite linear;
    -webkit-animation: loaderRotate 2s infinite linear;
    -ms-animation: loaderRotate 2s infinite linear;
    animation: loaderRotate 2s infinite linear;
    border-radius:50%;
    box-sizing:border-box;
  }
  .spinner:after{
    content:'';
    display:block;
    border:3px solid transparent;
    border-left:3px solid #FF3E31;
    box-sizing:border-box;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    border-radius:50%;
    -o-animation:borderFlexLoader 2s infinite linear;
    -moz-animation:borderFlexLoader 2s infinite linear;
    -webkit-animation:borderFlexLoader 2s infinite linear;
    -ms-animation:borderFlexLoader 2s infinite linear;
    animation:borderFlexLoader 2s infinite linear;
  }
  .spinner:before{
    content:'';
    display:block;
    border:3px solid transparent;
    border-left:3px solid #FF3E31;
    box-sizing:border-box;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    border-radius:50%;
  }
  
  @-o-keyframes loaderRotate{
    0%{
      transform:rotate(0deg);
    }
    100%{
      transform:rotate(360deg);
    }
  }
  @-moz-keyframes loaderRotate{
    0%{
      transform:rotate(0deg);
    }
    100%{
      transform:rotate(360deg);
    }
  }
  @-webkit-keyframes loaderRotate{
    0%{
      transform:rotate(0deg);
    }
    100%{
      transform:rotate(360deg);
    }
  }
  @-ms-keyframes loaderRotate{
    0%{
      transform:rotate(0deg);
    }
    100%{
      transform:rotate(360deg);
    }
  }
  
  @keyframes loaderRotate{
    0%{
      transform:rotate(0deg);
    }
    100%{
      transform:rotate(360deg);
    }
  }
  
  @-o-keyframes borderFlexLoader{
    0%{
      transform:rotate(0deg);
    }
    50%{
      transform:rotate(180deg);
    }
    100%{
      transform:rotate(0deg);
    }
  }
  
  @-webkit-keyframes borderFlexLoader{
    0%{
      transform:rotate(0deg);
    }
    50%{
      transform:rotate(180deg);
    }
    100%{
      transform:rotate(0deg);
    }
  }
  
  @-moz-keyframes borderFlexLoader{
    0%{
      transform:rotate(0deg);
    }
    50%{
      transform:rotate(180deg);
    }
    100%{
      transform:rotate(0deg);
    }
  }
  
  @-ms-keyframes borderFlexLoader{
    0%{
      transform:rotate(0deg);
    }
    50%{
      transform:rotate(180deg);
    }
    100%{
      transform:rotate(0deg);
    }
  }
  
  @keyframes borderFlexLoader{
    0%{
      transform:rotate(0deg);
    }
    50%{
      transform:rotate(90deg);
    }
    100%{
      transform:rotate(0deg);
    }
  }