.popup__btn-submit_disabled {
    position: relative;
    opacity: 0.2;
    border: 1px solid #000;
    color: #000;
    cursor: auto;
    background-color: #fff;
    user-select: none;
}

.popup__btn-submit_disabled:hover {
    opacity: 0.2;
}
